* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
	background-color: #09050f;
	text-align: center;
	perspective: 1000px;
}

ul {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	width: 100%;
	margin: 5rem 0;
	justify-content: center;
}

li {
	display: inline-block;
	margin: 0.8rem 1rem;
	padding: 0.5rem 1.6rem 1.2rem;
	width: 30%;
	min-width: 23rem;
	max-width: 30rem;
	box-shadow: 1px 3px 12px rgba(255, 255, 255, 0.25);
	border: 1px solid #ffff15;
	border-radius: 5px;
	transform-origin: center;
	transform-style: preserve-3d;
}

li > * {
	pointer-events: none;
	transition: transform 0.5s ease, opacity 0.3s ease;
	opacity: 0.5;
}

li:hover > * {
	transform: translateZ(1.3rem);
	opacity: 1;
}

li:hover > h2 {
	transform: translateZ(1.5rem) scale(1.1);
}

h2 {
	text-transform: uppercase;
	color: #f0f1f4;
	text-align: center;
	margin: 0.5rem 0;
	padding-bottom: 0.8rem;
	border-bottom: 1px solid #f0f1f4;
}

p {
	text-transform: capitalize;
	text-align: start;
	color: #ffff15;
}

p span {
	display: inline-block;
	width: 45%;
	color: #afabac;
	font-weight: bold;
	padding: 0 0.5rem;
}

button {
	position: relative;
	display: inline-block;
	font-weight: 900;
	font-size: 1rem;
	text-transform: uppercase;
	margin: 0 auto 2rem;
	padding: 0.8rem 1.4rem;
	background-color: #ffff15;
	border: none;
	border-radius: 5px;
	opacity: 0.6;
	cursor: pointer;
	transition: opacity 0.5s ease;
}

button::after {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	box-shadow: 0 3px 12px 3px rgba(255, 255, 21, 0.25);
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.3s ease;
	z-index: 1;
}

button:hover,
button:focus {
	opacity: 1;
}

button:hover::after,
button:focus::after {
	opacity: 1;
}
